.card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.4) !important;
    
    transition: all 0.2s linear;
}
.card-bg-color{
    background-color: rgba(0,0,0,0.08);
}
.card-img-top{
    transition: all 0.2s ease-in-out;
}
.overflow{
    overflow:hidden;
}

.card-img-top:hover{
    transform: scale(1.8);
}
